@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;700&display=swap");

body {
  margin: 0;
  padding: 0;
  text-decoration: none;
  background: #f5f6fa;
  font-family: "Quicksand", sans-serif;
  box-sizing: border-box;
  height: 100vh;
  min-height: 500px;
}

.main-image {
  max-height: 800px;
  float: right;
}

.main-title {
  position: absolute;
  display: flex;
  margin-top: 20%;
  padding: 30px;
}

/* HEADER */

.header {
  position: fixed;
  background-color: rgba(255, 255, 255, 0.5);
  width: 100%;
  padding: 5px 0;
  top: 0;
  z-index: 99;
  transition: 0.3s linear;
}

.navbar {
  max-width: 1300px;
  margin: auto;
  padding: 0 40px;
}

.header .navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-logo {
  width: 450px;
  text-align: center;
}

.navbar-menu a {
  text-decoration: none;
  color: #000000;
  font-size: 18px;
  font-weight: 600;
  margin-left: 30px;
  transition: 0.3s linear;
}

.navbar-menu a:hover {
  color: #d6a2e8;
}

.weather-container {
  font-weight: 600;
  font-size: 25px;
  text-align: center;
  float: right;
  color: black;
  animation: color-me-in 5s infinite;
}

@keyframes color-me-in {
  0% {
    color: #d6a2e8;
  }
  50% {
    color: #5f27cd;
  }
  100% {
    color: #d6a2e8;
  }
}

.weather-city {
  margin-top: -20px;
  font-size: 15px;
}

/* SEARCH BAR */

.restaurant-search {
  position: absolute;
  top: 50%;
  left: 10%;
  transition: translate(-50%, -50%);
  background: #2d3436;
  height: 40px;
  border-radius: 40px;
  padding: 10px;
  box-shadow: 8px 5px 5px #d1d8e0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.restaurant-search:hover > .search-bar {
  width: 250px;
  padding: 0 6px;
}

.restaurant-search:hover > .search-button {
  background: linear-gradient(45deg, #f8efba, #fea47f);
  border: none;
  color: black;
}

.search-bar {
  float: left;
  border: none;
  color: #ffffff;
  background: none;
  outline: none;
  padding: 0;
  font-size: 16px;
  transition: 0.4s;
  line-height: 40px;
  width: 0px;
  font-family: "Quicksand", sans-serif;
}

.search-button {
  color: white;
  float: right;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: linear-gradient(45deg, #5f27cd, #d6a2e8);
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
  transition: 0.4s;
}

/* FOOTER */

.footer-container {
  position: fixed;
  background: #2d3436;
  color: #ffffff;
  width: 100%;
  bottom: 0;
  margin: auto;
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap-reverse;
}

.logo {
  margin-top: 10px;
  width: 350px;
}

.right-column h2 {
  font-size: 25px;
}

.border {
  width: 100px;
  height: 4px;
  background: #d6a2e8;
}

.newsletter-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.news-text-box {
  flex: 1;
  padding: 12px 30px;
  font-size: 16px;
  color: black;
  border: none;
  font-family: "Quicksand", sans-serif;
  outline: none;
  border-radius: 30px;
  min-width: 260px;
}

.news-button {
  padding: 12px 30px;
  font-size: 16px;
  color: #ffffff;
  border: none;
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
  outline: none;
  border-radius: 30px;
  margin-left: 10px;
  background: linear-gradient(45deg, #5f27cd, #d6a2e8);
  cursor: pointer;
  transition: opacity 0.3s linear;
}

.news-button:hover {
  opacity: 0.1;
}

/* SOCIAL BUTTONS */

.social-buttons a {
  color: white;
  margin-right: 25px;
  display: inline-flex;
  text-decoration: none;
  font-size: 20px;
  width: 60px;
  height: 60px;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 0 10px;
}

.social-buttons a::before {
  content: "";
  position: absolute;
  width: 60px;
  height: 60px;
  background: linear-gradient(45deg, #5f27cd, #d6a2e8);
  border-radius: 50%;
  z-index: -1;
  transition: 0.3s ease-in;
}

.social-buttons a:hover::before {
  transform: scale(0);
}

.social-buttons a .social-icons {
  transition: 0.3s ease-in;
}

.social-buttons a:hover .social-icons {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transform: scale(2.2);
  color: #ffffff;
}

/* RESTAURANT DETAILS */

.restaurant-list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 10px;
  margin-top: 10%;
  /* padding: 30px; */
}

.restaurant-card {
  width: 250px;
  background: linear-gradient(45deg, #f8efba, #fea47f);
  overflow: hidden;
  font-family: "Quicksand", sans-serif;
  box-shadow: 0 0 20px #a4b0be;
  text-align: center;
  /* flex-direction: column; */
}

.restaurant-top .restaurant-image {
  width: 100%;
}

.restaurant-url {
  text-decoration: underline;
  color: black;
}

.restaurant-url:hover {
  color: white;
  text-decoration: underline;
}

.r-title {
  font-size: 18px;
  position: relative;
}

.r-name {
  font-size: 20px;
}

.restaurant-details {
  padding: 40px;
  padding-top: 0;
}
/* FAV RESTAURANT GRID */

.res-grid {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 10px;
  margin-top: 10%;
}

.res-card {
  width: 250px;
  background: linear-gradient(45deg, #f8efba, #fea47f);
  overflow: hidden;
  font-family: "Quicksand", sans-serif;
  box-shadow: 0 0 20px #a4b0be;
  text-align: center;
}

.card-image {
  width: 100%;
}

.card-title {
  font-size: 20px;
  text-decoration: underline;
}

.card-heading {
  font-size: 18px;
}


